/* style for html div */
html {
    position: relative;
    min-height: 100%;
    border: 10px grey solid;

}

.header {
    border: 15vh;
    padding: 1em 13em;
    background-color: #111720;
    font-size: 20px;
}
.game-title{
    text-align: center;
    font-size: 50px;
    padding: 1em 9em;
}

/* style for Background and color for the entire html page*/
body {
    min-height: 100vh;
    padding: auto;
    background-color: black;
    color: white;
}


/* style for display div*/
.display {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 48px;
}

/* style for container text used flex */
.container-text {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    gap: 12vh;
}

/*image placeholder */
.score-box2,
.score-box1 {
    height: 25vh;
    width: 35vh;
    border: 5px grey solid;
}

/* style for playerText */
.playerText,
.compText {
    margin-bottom: auto;
    font-size: 28px;
}

/* style for compText */
.container-text {
    color: white;
    font-size: 28px;

}

/* style for Winner div*/
.winner {
    text-align: center;
    padding: 30px;
    font-size: 38px;
}

/* style for Container div*/
.container-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

h4 {
    text-align: center;
}

.playerScore,
.compScore {
    color: white;
}

/* footer */
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 10%;
    width: 100%;
    padding: 0px;
    background-color: #111720;
    font-size: 20px;
}



/* responsive style*/

/*smart Phone*/
@media screen and (min-width: 767px) {}

/*Table*/
@media screen and (min-width: 767px) and (max-width: 1023px) {}

/*desktop*/
@media screen and (max-width: 1024px) {}